body, html {
  margin: 0px;
  padding: 0px;
}

#runnerSection { background: #000; color: #fff; }
#loginSection, #gameSection { display: none; }

#loginSection input { width: 400px; font-family: monospace; }

div.card { display: inline-block; border: 1px solid black; margin-right: 5px; padding: 5px; padding: 20px;}

em {
  font-style: normal;
  font-weight: bold;
}