#runnerSection { background: #000; color: #fff; }
#loginSection, #gameSection { display: none; }
#loginSection input { width: 400px; font-family: monospace; }

ul.links { margin: 0; padding: 0; }

.side.runner .corp { display: none; }
.side.corp .runner { display: none; }
.side.us .them { display: none; }
.side.them .us { display: none; }

.side { display: flex; }
.side.us { flex-direction: column-reverse; }
.side.them { flex-direction: column }

.row { display: flex; min-height: 160px; }
.side.us > .row { margin-top: 10px; }
.side.them > .row { margin-bottom: 10px; }
.row > :not(:first-child) { margin-left: 10px; }

.section {
  display: flex;
  flex-direction: column;

  width: 200px;
  height: 160px;
  padding: 10px;
  background-color: #ddd;
}

.section.stats, .section.identity { flex-shrink: 0; }

.section.stats { font-size: 18px; }
.section.stats > * { flex-grow: 1; display: flex; align-items: center; justify-content: space-between; }

.section.main.hq, .section.main.grip, .section.rig, .section.servers { 
  width: auto; flex-grow: 1; flex-direction: row; flex-wrap: wrap; padding-left: 0; padding-top: 0; height: auto; }
.section.main.hq > .card, .section.main.grip > .card, .section.rig > .card, .section.servers > .card { margin-left: 10px; margin-top: 10px; }
.section.them.hq, .section.them.grip { align-items: center; font-size: 80px; padding-left: 40px; }

.row.servers, .server { display: flex; min-height: 0; height: auto; }
.side.us .server { align-self: flex-end; flex-direction: column-reverse; }
.side.them .server { align-self: flex-start; flex-direction: column; }

.server { margin-left: 10px; margin-top: 10px; }
.server > .target, .server > .ice { 
  background-color: #000; color: #fff; padding: 5px; width: 200px; height: 30px; display: flex; align-items: center; }
.side.us .server > .ice, .side.us .server > hr { margin-bottom: 10px; }
.side.them .server > .ice, .side.them .server > hr { margin-top: 10px; }
.server > hr {
  margin: 0;
  height: 5px;
  width: 33%;
  background-color: black;
  border: none;
  align-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 160px;
  border: 1px solid black; 
}
.card .title { height: 30px; display: flex; align-items: center; justify-content: space-between; }
.card .title, .card .body { padding: 5px; }
.card .title { flex: 0 0 auto; background: #000; color: #fff; }
.card .body { flex: 1 1 auto; background: #fff; overflow: auto; padding: 5px; font-size: small; }
    
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.trigger {
  flex-shrink: 0;
  background-image: -webkit-linear-gradient(black, red, black);
  z-index: 0;
  margin-right: 0;
  border-radius: 50%;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.trigger:hover {
  background-image: -webkit-linear-gradient(black, white, black);
}
.card .title .trigger {
  height: 50px;
  width: 50px;
  margin: -5px;
}
.section.stats .trigger {
  height: 40px;
  width: 40px;
  margin: -15px;
}

em {
  font-style: normal;
  font-weight: bold;
}
